<?xml version="1.0" ?>
<launch>
  <arg name="tf_prefix"    default="" />
	<arg name="robot_x"   default="0.0" />
	<arg name="robot_y"   default="0.0" />
	<arg name="robot_yaw" default="0.0" />
	<arg name="model_name" default=""/>


  <arg if="$(eval tf_prefix=='')" name="tf_prefix_slashed" value="" /> <!--Important for proper substitution (empty tf_prefix must not lead to leading slashes-->
  <arg unless="$(eval tf_prefix=='')" name="tf_prefix_slashed" value="$(arg tf_prefix)/" /> <!--Important for proper substitution (empty tf_prefix must not lead to leading slashes-->


  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find stud_hee)/worlds/my_world.world"/>
    <!-- more default parameters can be changed here -->
  </include>


   <include file="$(find miranda_launch_sim)/launch/miranda_200.launch">
    <!-- more default parameters can be changed here -->
        <arg name="tf_prefix" value="$(arg tf_prefix)"/>
		<arg name="robot_x"  value="$(arg robot_x)"/>
		<arg name="robot_y"  value="$(arg robot_y)"/>
		<arg name="robot_yaw"  value="$(arg robot_yaw)"/>
        <arg name="model_name" value="$(arg model_name)"/>
  </include>



 

</launch>
